.container
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    overflow: hidden;
}

.movieDetail 
{
    max-width: 767px;
    text-align: start;
}

.movieDetail p
{
    margin-bottom: 10px;
}